div {
    position: relative;
    padding: 2em;
    background: rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(210, 210, 210, 1);
    ion-button {
      //  position: absolute;
       bottom: 20px;
       right: 20px;
    }
 }

 /* Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class */
 .active {
    display: block
 }

 .inactive {
    display: none;
 }