<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="moduleForm" (ngSubmit)="onOkClick()">
      <ion-item>
          <ion-label position="stacked">Module Name</ion-label>
          <ion-input  formControlName="moduleName"></ion-input>
        </ion-item>
        <!-- Textarea in an item with a floating label -->
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea  formControlName="moduleDescr"></ion-textarea>
        </ion-item>
        <ion-input>
          <ion-button size="small" (click)="onCancelClick()" color="danger">Cancel</ion-button>
          <ion-button size="small" type="submit" [disabled]="!moduleForm.valid" color="success">Ok</ion-button>
        </ion-input>
  </form>
  
</ion-content>