<ion-app>
  <ion-split-pane >
    <ion-menu  type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu {{isLogin}}
            <ion-button (click)="toggleMenu()">Toggle Menu</ion-button>
          </ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-header>
        <ion-toolbar color="dark" class="user-profile">

          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
              <!-- <img src="./assets/img/avatar.jpg"> -->
              <img src="./../assets/img/avator.jpg">
            </ion-avatar>
            <ion-label>
              <ion-text color="medium">
                <h1><strong>{{currentUser.email}}</strong></h1>
              </ion-text>
              <ion-text color="secondary">
                <h3>
                  São Paulo, Brazil
                </h3>
              </ion-text>
              <!-- <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <ion-text color="medium">
                    <ion-icon name="contact"></ion-icon>
                    <strong>edit profile</strong>
                  </ion-text>
                </a> <ion-text color="secondary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="medium">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>logout</strong>
                  </ion-text>
                </a>
              </ion-menu-toggle> -->
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button menuClose expand="block"  (click)="logoutClick()" >
            Logout
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
